*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}

.img-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}   

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right : 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
    z-index: 999;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;

}

header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
   
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 3rem;
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;

}

nav a:hover {
    color: grey;
}

.btn-signin {
    padding: 0.5rem 2.5rem;
    background-color: #a7a7a7;
    color: black;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition:  color 0.2s ease;
}

.btn-signin:hover {
    background-color: white;
    transition: background-color 0.5s ease;
}